### File handling
1. create 
2. write
3. read
4. append
5. rename
6. remove

In [2]:
#Renaming a file
import os
os.rename("sample.txt","demo.txt")

In [3]:
#Removing a file
os.remove("demo.txt")

In [4]:
import string
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [5]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

### Tuples
1. Immutable
2. using () elements separated by ' , '
3. Indexed, ordered

In [5]:
# tuple
tup=(12,34.5,"abc",True)
type(tup)

tuple

In [6]:
print(tup[2])
print(tup[-1])

abc
True

In [8]:
#tup[2]=100
l=list(tup)
l

[12, 34.5, 'abc', True]

In [10]:
l[1]=20
t=tuple(l)
print(t)

(12, 20, 'abc', True)

### Built-in Methods
1. count()
2. index()

In [12]:
print(t.count(12),end=" ")
print(t.index(12))

1 0

### packing and unpacking

In [13]:
#packing
x=10,20,30

In [16]:
print(type(x))
print(x)

<class 'tuple'>
(10, 20, 30)

In [17]:
#unpacking
t1=(12,34,65,87)
a,b,c,d=t1
print(a,c,end=" ")

12 65

### tuple object

In [19]:
y=(10,)
print(type(y))

<class 'tuple'>

### Iteration in tuple

In [20]:
for i in t1:
    print(i,end=" ")

12 34 65 87

### set
1. {}
2. Does not allow duplicate values
3. Not ordered
4. unindexed
5. Mutable

In [27]:
set1={1,2,34,76,5,2,1}
print(set1)

{1, 2, 34, 5, 76}

In [28]:
for ele in set1:
    print(ele,end=" ")

1 2 34 5 76

### Built-in functions:
1. len()
2. min()
3. max()
4. set()

In [29]:
print(set1)
print(len(set1))
print(min(set1))
print(max(set1))

{1, 2, 34, 5, 76}
5
1
76

In [30]:
list1=[1,5,3,7,2,4,1,2,6]
list1=set(list1)
print(list1)

{1, 2, 3, 4, 5, 6, 7}

### Built-in methods
#### Adding an element
1. add()
#### Removing an element
2. pop()
3. remove()
4. discard()
5. clear()
#### Other operations
6. union()
7. intersection()
8. difference()
9. symmetric_difference()
10. issubset()
11. issuperset()
12. isdisjoint()
13. update()
14. intersection_update()
15. difference_update()
16. symmetric_difference_update()

In [34]:
set2=set()
print(type(set2))

<class 'set'>

In [37]:
# Adding an element
set2.add(45)
set2.add(98)
set2.add(0)
set2.add(67)
print(set2)

{0, 98, 67, 45}

In [38]:
set2.pop()

0

In [39]:
#Removes the specified element from the set if it is present
#else it throws an error
set2.remove(43)

KeyError: 43

In [40]:
#Removes the specified element from the set if it is present 
#else it performs nothing
set2.discard(43)

In [41]:
set2

{45, 67, 98}

In [42]:
#Removes all the elements of the set
set2.clear()
set2

set()

In [45]:
### union , difference, intersection, 
A={1,2,3,4,5}
B={3,4,5,6,7}
# union --> A U B
print(A.union(B))
# A - B = { 1,2 }
# B - A = { 6,7}
print(A.difference(B))
print(B.difference(A))
# intersection A and B --> { 3,4,5}
print(A.intersection(B))

{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{6, 7}
{3, 4, 5}

In [46]:
# subset, superset,
C={1,2,3,4,5,6,7,8,9,10}
print(A.issubset(C))
print(A.issubset(B))
print(C.issuperset(A))
print(C.issuperset(A))

True
False
True
True

In [47]:
# disjoint
X={1,2,3}
Y={6,4,8}
print(A.isdisjoint(B))
print(X.isdisjoint(Y))

False
True

In [50]:
#symmetric difference
print(A.symmetric_difference(B))

{1, 2, 6, 7}

In [ ]:
A.union(B) ==> {1,2,3,4,5,6,7}
A ==> {1,2,3,4,5}

In [52]:
A.update(B)
print(A)
print(B)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [53]:
A.intersection_update(B)
print(A)
print(B)

{3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [54]:
A.difference_update(B)
print(A)
print(B)

set()
{3, 4, 5, 6, 7}

In [55]:
A.symmetric_difference_update(B)
print(A)
print(B)

{5, 4, 3, 6, 7}
{3, 4, 5, 6, 7}

### Dictionary
```  dictionary name = {key1:value1,key2:key2,...... } ```

#### Rules for key:
1. keys should be unique 
2. keys should be immutable (example:numerics,string,tuple )

In [63]:
# creating a dictionary
dict1={"name":"Vennela","pin_no":"2022","address":"hyd"}
print(dict1)

{'name': 'Vennela', 'pin_no': '2022', 'address': 'hyd'}

In [64]:
# Extracting an element
print(dict1["pin_no"])

2022

In [65]:
# Remove or deleting an entry
del dict1["address"]
print(dict1)

{'name': 'Vennela', 'pin_no': '2022'}

In [68]:
# Adding an entry
dict1["course"]="python"
print(dict1)

{'name': 'Vennela', 'pin_no': '2022', 'course': 'python'}

### Built-in methods
1. keys()
2. values()
3. items()
4. get()
5. update()
6. pop()
7. popitem()

In [69]:
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['name', 'pin_no', 'course'])
dict_values(['Vennela', '2022', 'python'])
dict_items([('name', 'Vennela'), ('pin_no', '2022'), ('course', 'python')])

In [70]:
# extracting an element
print(dict1["name"])
print(dict1.get("name"))

Vennela
Vennela

In [71]:
# Adding an entry
dict1["address"]="hyd"
dict1

{'name': 'Vennela', 'pin_no': '2022', 'course': 'python', 'address': 'hyd'}

In [72]:
d={1:1,2:2,3:3}
dict1.update(d)
print(dict1)

{'name': 'Vennela', 'pin_no': '2022', 'course': 'python', 'address': 'hyd', 1: 1, 2: 2, 3: 3}

In [78]:
# removing an entry ==> pop(), popitem()
dict1.pop(1) #1 --> key , particular item is popped
print(dict1)

{'name': 'Vennela', 'pin_no': '2022', 'course': 'python', 'address': 'hyd', 2: 2, 3: 3}

In [79]:
d.popitem()  # last item is popped

(3, 3)