### Strings :
1. " " or ' ' (characters)-->'a'
2. immutable -->We cannot make any changes
3. collection of characters enclosed by quotation marks --> Iterable object

In [2]:
s1="Hello"
s2='Good Afternoon'
print(type(s1),type(s2))

<class 'str'> <class 'str'>

In [7]:
s1=input("Enter a string ")
s2 = 'we are '
print(s2,s1)

Enter a string happy
we are  happy

### Operators : + (concatenation), * (repitition), [ ] (slice) , [ : ] (slice range) , [start:sleep:step] , in

In [10]:
print(s2+s1)
print(s1*3)
print(s1[4]) #slice
print(s1[-1])
print(s1[2:])#start = 0 , stop = last , step = 1

we are happy
happyhappyhappy
y
y
ppy

In [13]:
print(s1[0:5])
print(s1[:])
print(s1[0:5:2])

happy
happy
hpy

In [17]:
# Accept string frm user and check whether it is palindrome or not
a=input("string 1 ")
if a==a[::-1]:
    print("Palindrome")
else:
    print("Not Palindrome")

string 1 madam
Palindrome

In [19]:
p=input()
if p==p[::-1]:
    print("Palindrome Number")
else:
    print("Not a Palindrome Number")

35653
35653
Palindrome Number

In [20]:
s3="Python"
print("on" in s3)
print("pn" in s3)
print("xwy" not in s3)
print("th" not in s3)

True
False
True
False

### Built in functions 
1. len()
2. max()
3. min()
4. str() --> convert to string

In [23]:
s="hello"
s1="abc123"
print(len(s),end=" ")
print(max(s),end=" ")
print(min(s))
print(len(s1),end=" ")
print(max(s1),end=" ")
print(min(s1))

5 o e
6 c 1

In [26]:
# ord() -->              chr()---> 
ord('a')

97

In [27]:
chr(97)

'a'

### Built in methods
1. capitalize()
2. isalpha()
3. isdigit()
4. isalnum()
5. isupper()
6. islower()
7. upper()
8. lower()
9. swapcase()

In [30]:
s="hello"
print(len(s))
s=s.capitalize()
print(s)

5
Hello

In [33]:
s1="hello"
s2="123"
s3="abc123"
print(s1.isalpha())
print(s1.isdigit())
print(s1.isalnum())
print(s2.isalpha())
print(s2.isdigit())
print(s2.isalnum())
print(s3.isalpha())
print(s3.isdigit())
print(s3.isalnum())

True
False
True
False
True
True
False
False
True

In [35]:
s1="python"
s2="PYTHON"
print(s1.isupper())
print(s2.isupper())
print(s1.islower())
print(s2.islower())
print(s1.upper())
print(s2.lower())
print(s1.swapcase())

False
True
True
False
PYTHON
python
PYTHON

In [37]:
s= " abc abc abc"
s.count("abc")  #--->counts the frequency of the given string

3

In [38]:
# split()
print(s.split())
s1="a,b,c,d"
print(s1.split(","))

['abc', 'abc', 'abc']
['a', 'b', 'c', 'd']

In [40]:
#replace  -->
s="abc"
s=s.replace("b","z")
print(s)

azc

In [1]:
# accept a num(n) from the user and remove nth position character frm the string
n=int(input("Enter number "))
s=input("Enter string ")
s=s.replace(s[n-1],"",1)
print(s)

Enter number 3
Enter string abcabc
ababc

### for loop
1. for loop with range() function
2. for loop with iterable object
#### for var_name in range (start,stop,step):
####      statements

In [4]:
# print 1 - n numbers 
n=int(input())
for i in range(1,n+1):
    print(i,end=" ")

10
1 2 3 4 5 6 7 8 9 10

In [5]:
# for using iterable object
s="python"
for i in s:
    print(i,end="  ")

p  y  t  h  o  n

In [2]:
# using while loop 
s="python"
i=0
#while s[i]!='\0':
 #   print(s[i])
  #  i=i+1
while i <len(s):
    print(s[i])
    i+=1

p
y
t
h
o
n

In [3]:
#using for loop but you should not use iterable object
s="python"
for j in range(0,len(s)):
    print(s[j])

p
y
t
h
o
n